---
layout: default
title: "Projects"
---

<h1>Player Modelling Companion AI</h1>

<div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
    <button class="btn btn-outline"
                  type="button"
		  style="background-color: #333333; color:white; border-radius:5px;"
		  width="450px"
                  onclick="window.open('https://andrewscott02.github.io/projects/playermodelai', '_blank')">
            View project details
          </button>
</div>

{% include embed.html url="https://www.youtube.com/embed/lme6oJXwc10" %}

<h1>TTRPG Controller</h1>

<div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
    <button class="btn btn-outline"
                  type="button"
		  style="background-color: #333333; color:white; border-radius:5px;"
		  width="450px"
                  onclick="window.open('https://andrewscott02.github.io/projects/ttrpgcontroller', '_blank')">
            View project details
          </button>
</div>

{% include embed.html url="https://www.youtube.com/embed/TVrhjMUS844" %}

<h1>Visual FX Programming</h1>

<div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
    <button class="btn btn-outline"
                  type="button"
		  style="background-color: #333333; color:white; border-radius:5px;"
		  width="450px"
                  onclick="window.open('https://andrewscott02.github.io/projects/visualfx', '_blank')">
            View project details
          </button>
</div>

<img src="https://raw.githubusercontent.com/andrewscott02/andrewscott02.github.io/master/_posts/Images/GraphicsImages.png">

<h1>Turn-Based Combat</h1>

<div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
    <button class="btn btn-outline"
                  type="button"
		  style="background-color: #333333; color:white; border-radius:5px;"
		  width="450px"
                  onclick="window.open('https://andrewscott02.github.io/projects/turnbasedcombat', '_blank')">
            View project details
          </button>
</div>

{% include embed.html url="https://www.youtube.com/embed/lg1MPgQ8eVY" %}
