---
layout: default
title: "Projects"
---

<h1>Player Modelling Companion AI</h1>=

{% include embed.html url="https://www.youtube.com/embed/lme6oJXwc10" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/playermodelai', '_blank')">
            View project details
          </button>

<h1>TTRPG Controller</h1>

{% include embed.html url="https://www.youtube.com/embed/TVrhjMUS844" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/ttrpgcontroller', '_blank')">
            View project details
          </button>

<h1>Visual FX Programming</h1>

<img src="https://raw.githubusercontent.com/andrewscott02/andrewscott02.github.io/master/_posts/Images/GraphicsImages.png">

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/visualfx', '_blank')">
            View project details
          </button>

<h1>Turn-Based Combat</h1>

{% include embed.html url="https://www.youtube.com/embed/lg1MPgQ8eVY" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/turnbasedcombat', '_blank')">
            View project details
          </button>
