---
layout: default
title: "Projects"
---

<h1>TTRPG Controller</h1>

{% include embed.html url="https://www.youtube.com/embed/TVrhjMUS844" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/_posts/2020-04-30-ttrpgcontroller.md', '_blank')">
            View project details
          </button>

<h1>Player Modelling Companion AI</h1>=

{% include embed.html url="https://www.youtube.com/embed/lme6oJXwc10" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/_posts/2023-03-31-player-model-companion.md', '_blank')">
            View project details
          </button>

<h1>Visual FX Programming</h1>

<img src="https://raw.githubusercontent.com/andrewscott02/andrewscott02.github.io/master/_posts/Images/GraphicsImages.png">

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/_posts/2021-12-10-visual-effects-programming.md', '_blank')">
            View project details
          </button>

<h1>Turn-Based Combat</h1>

{% include embed.html url="https://www.youtube.com/embed/lg1MPgQ8eVY" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/_posts/2019-09-21-turn-based-combat.md', '_blank')">
            View project details
          </button>
