---
layout: default
title: "Home"
---

## Corruption of Arcana

{% include embed.html url="https://www.youtube.com/embed/r8M4nrsPlGo" %}

[Play Corruption of Arcana](https://moonsoon-games.itch.io/corruption-of-arcana-reshuffled)

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/corruption-of-arcana', '_blank')">
            Chat Kami
          </button>

[View project details](https://andrewscott02.github.io/projects/corruption-of-arcana)

## Godsent

{% include embed.html url="https://www.youtube.com/embed/I9EzZFoWANU" %}

[Play Godsent](https://eggicalgirl.itch.io/godsent)

[View project details](https://andrewscott02.github.io/projects/godsent)
