---
layout: default
title: "Home"
---

## Key Projects

{% include embed.html url="https://www.youtube.com/embed/r8M4nrsPlGo" %}
[Play Corruption of Arcana](https://moonsoon-games.itch.io/corruption-of-arcana-reshuffled)
[View project details](https://andrewscott02.github.io/projects/corruption-of-arcana)

{% include embed.html url="https://www.youtube.com/embed/I9EzZFoWANU" %}
[Play Godsent](https://eggicalgirl.itch.io/godsent)
[View project details](https://andrewscott02.github.io/projects/godsent)
