---
layout: default
title: "Home"
---

# Corruption of Arcana

{% include embed.html url="https://www.youtube.com/embed/r8M4nrsPlGo" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://moonsoon-games.itch.io/corruption-of-arcana-reshuffled', '_blank')">
            Play Corruption of Arcana
          </button>

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/corruption-of-arcana', '_blank')">
            View project details
          </button>

# Godsent

{% include embed.html url="https://www.youtube.com/embed/I9EzZFoWANU" %}

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://eggicalgirl.itch.io/godsent', '_blank')">
            Play Godsent
          </button>

<button class="btn btn-outline"
                  type="button"
                  onclick="window.open('https://andrewscott02.github.io/projects/godsent', '_blank')">
            View project details
          </button>
