*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body
{
	min-height: 100vh;
	overflow-x: hidden;

	background: #051530;
	color: #b02520
}

.about
{
	text-align: center;
	margin: 15;
	padding: 15;
}

a
{
	color: #1d5bc4;
}

.navbar ul
{
	list-style-type: none;
	background-color: #1a1a1a;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.navbar a
{
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}
.navbar a:hover
{
	background-color: #000000;
}
.navbar li
{
	float: left;
}

.videogalleryold
{
	position: absolute;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 560px));
}

.videogallery
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

iframe
{
	height: 25rem;
	width: 35rem;
	margin: 2rem;
	box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 1rem;
}

.thumbnail img
{
	height: 25rem;
	width: 35rem;
	margin: 2rem;
	box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.5);
	overflow: hidden;
	border-radius: 1rem;
}

.cv img
{
	overflow: hidden;
}

.container
{
	width:560px;
	height: 315px
}