/* ===================================== 
   CV
======================================== */

#CV
{
   min-height: 400px;
   img
   {
      height: auto;
      width: 100%;
   }
}

.cv
{
   display: none;

   @media #{$med-has-pointer}
   {
      display: inherit;
   }
}

.cv-mobile
{
   @media #{$med-has-pointer}
   {
      display: none;
   }
}