/* ========================================================== */
/* Hero Image */
/* ========================================================== */

#HeroImage
{
    height: 100vh;
    padding: 0;
    //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../Images/Banner_edited.jpg") no-repeat;

    background-position: 85% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media #{$brk-m}
    {
        &:hover
        {
            //background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../Images/Banner_edited.jpg") no-repeat;
            background-position: 85% center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .hero-text
            {
                opacity: 0.2;
            }

            video,
            iframe
            {
                filter: brightness(1) blur(0) contrast(100%);
            }
        }
    }
}

#HeroImage
{
    background-color: #000000;
}

.heroElements
{
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;

    width: 100%;
    height: 100%;

    text-align: center;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //color: $color-text-light;
}

.background-video
{
    position: absolute;
    /* top: 0; */
    bottom: 0;
    overflow: hidden;

    // position: relative;
    width: 100%;
    height: 100%;
    top: 100%;

    @media #{$brk-m}
    {
        video,
        iframe
        {
            filter: brightness(0.6) blur(3px) contrast(80%);
        }
    }

    video,
    iframe
    {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 100%;
        // height: 100%;
    }
}

video.background-video
{
    @media #{$brk-m}
    {
        filter: brightness(0.6) blur(3px) contrast(80%);
    }
}

.hero-text
{
    display: none;
    position: fixed;
    z-index: 1;
    top: 100%;
    height: 100%;
    width: 100%;

    h1
    {
        position: relative;
        top: 35%;

        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0 0 1.25rem;
        color: #fff;
        font-weight: 600;
    }

    p
    {
        position: relative;
        top: 40%;
    }

    @media #{$brk-m}
    {
        display: inherit;
    }
}