/* ===================================== 
   Buttons
======================================== */

.btn
{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;

    color: $color-text-light;
    text-decoration: none;

    background-color: $color-tertiary;

    &:hover
    {
        background-color: darken($color-tertiary, 5%);
        cursor: pointer;
    }
}