/* ===================================== 
   Code Snippets
======================================== */

.codeSnippet pre
{
    background-color: $color-secondary-light;
    border-radius: 15px;
    padding: 30px;
    overflow-x: scroll;
}