/* ===================================== 
   Code Snippets
======================================== */

.codeSnippet pre
{
    transition: 0.5s ease;
    background-color: $color-secondary-light;
    border-radius: 15px;
    padding: 30px;
    overflow-x: scroll;
}